In [3]:
import numpy as np
import pandas as pd
import scipy.io as sio
import matplotlib.pyplot as plt

In [4]:
vel1 = pd.read_csv('2018_03_13_HS-SL-SG-02.vel', sep ='\s+')
dfv1 = vel1.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv1.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv1 ['Date'] = pd.to_datetime(dfv1.loc[:, 'Year':'Second'])
dfv1 = dfv1[(dfv1.Date>='2018-03-13 18:11:19') & (dfv1.Date<='2018-03-13 18:21:55')]
dfv1

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
8,2018,3,13,18,20,24,-5.4,-5.2,-5.1,-5.9,-5.8,-2.7,7.8,-4.2,-2.9,-1.2,2018-03-13 18:20:24

In [34]:
vel2 = pd.read_csv('2018_03_13_HS-SL-SG-02.vel', sep ='\s+')
dfv2 = vel2.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv2.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv2 ['Date'] = pd.to_datetime(dfv2.loc[:, 'Year':'Second'])
dfv2 = dfv2[(dfv2.Date>='2018-03-21 11:14:04') & (dfv2.Date<='2018-03-21 11:28:12')]
dfv2

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
1118,2018,3,21,11,19,58,13.5,18.7,29.4,31.6,27.4,13.3,12.9,15.3,2.5,11.2,2018-03-21 11:19:58

In [36]:
vel3 = pd.read_csv('2018_03_13_HS-SL-SG-02.vel', sep ='\s+')
dfv3 = vel3.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv3.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv3 ['Date'] = pd.to_datetime(dfv3.loc[:, 'Year':'Second'])
dfv3 = dfv3[(dfv3.Date>='2018-03-21 14:50:39') & (dfv3.Date<='2018-03-21 15:02:49')]
dfv3

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
1140,2018,3,21,14,59,57,16.4,25.9,35.1,37.6,31.8,23.3,20.4,20.1,13.2,16.8,2018-03-21 14:59:57

In [37]:
vel4 = pd.read_csv('2018_03_29_HS-SL-SG-02.vel', sep ='\s+')
dfv4 = vel4.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv4.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv4 ['Date'] = pd.to_datetime(dfv4.loc[:, 'Year':'Second'])
dfv4 = dfv4[(dfv4.Date>='2018-04-04 15:42:41') & (dfv4.Date<='2018-04-04 15:55:33')]
dfv4

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
898,2018,4,4,15,49,9,5.8,7.8,7.9,2.5,2.8,1.9,8.1,3.1,-0.1,0.7,2018-04-04 15:49:09

In [38]:
vel5 = pd.read_csv('2018_03_29_HS-SL-SG-02.vel', sep ='\s+')
dfv5 = vel5.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv5.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv5 ['Date'] = pd.to_datetime(dfv5.loc[:, 'Year':'Second'])
dfv5 = dfv5[(dfv5.Date>='2018-04-11 11:30:18') & (dfv5.Date<='2018-04-11 11:44:08')]
dfv5

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
1881,2018,4,11,11,38,45,-0.1,-4.0,-3.5,-2.0,-0.7,-0.5,2.1,2.2,-3.4,4.5,2018-04-11 11:38:45

In [40]:
vel6 = pd.read_csv('2018_03_29_HS-SL-SG-02.vel', sep ='\s+')
dfv6 = vel6.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv6.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv6 ['Date'] = pd.to_datetime(dfv6.loc[:, 'Year':'Second'])
dfv6 = dfv6[(dfv6.Date>='2018-04-11 17:06:01') & (dfv6.Date<='2018-04-11 17:17:18')]
dfv6

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
1914,2018,4,11,17,8,44,8.1,9.5,11.8,8.2,6.2,-1.7,5.1,2.5,3.2,3.9,2018-04-11 17:08:44

In [39]:
vel7 = pd.read_csv('2018_03_29_HS-SL-SG-02.vel', sep ='\s+')
dfv7 = vel7.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv7.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv7 ['Date'] = pd.to_datetime(dfv7.loc[:, 'Year':'Second'])
dfv7 = dfv7[(dfv7.Date>='2018-04-17 11:00:02') & (dfv7.Date<='2018-04-17 11:19:35')]
dfv7

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
2742,2018,4,17,11,8,24,-4.7,-8.2,-7.7,-6.9,-6.7,-4.2,-2.4,0.0,7.9,-3.9,2018-04-17 11:08:24
2743,2018,4,17,11,18,23,-1.5,-5.4,-8.0,-8.0,-3.4,-4.2,-1.2,0.5,3.9,-1.7,2018-04-17 11:18:23

In [7]:
vel8 = pd.read_csv('2018_04_17_HS-SL-SG-02.vel', sep ='\s+')
dfv8 = vel8.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv8.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv8 ['Date'] = pd.to_datetime(dfv8.loc[:, 'Year':'Second'])
dfv8 = dfv8[(dfv8.Date>='2018-05-08 11:54:04') & (dfv8.Date<='2018-05-08 12:26:23')]
dfv8

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
3026,2018,5,8,12,2,10,-19.6,-25.3,-28.9,-31.3,-30.1,-17.4,-21.5,-23.5,-17.4,-17.0,2018-05-08 12:02:10
3027,2018,5,8,12,12,11,-17.7,-25.2,-29.7,-29.4,-29.4,-13.4,-20.5,-20.3,-17.1,-22.1,2018-05-08 12:12:11
3028,2018,5,8,12,22,10,-18.3,-23.2,-29.0,-30.0,-29.6,-17.7,-20.7,-21.8,-13.8,-22.1,2018-05-08 12:22:10

In [11]:
vel9 = pd.read_csv('2018_04_17_HS-SL-SG-02.vel', sep ='\s+')
dfv9 = vel9.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv9.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv9 ['Date'] = pd.to_datetime(dfv9.loc[:, 'Year':'Second'])
dfv9 = dfv9[(dfv9.Date>='2018-05-08 16:16:06') & (dfv9.Date<='2018-05-08 16:39:10')]
dfv9

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
3052,2018,5,8,16,22,10,-2.9,-6.5,-9.2,-7.9,-8.5,-1.2,-3.2,-4.9,2.2,2.1,2018-05-08 16:22:10
3053,2018,5,8,16,32,9,1.4,-3.2,-4.5,-5.3,-4.5,-1.8,-5.0,-2.9,0.7,0.5,2018-05-08 16:32:09

In [12]:
vel10 = pd.read_csv('2018_04_17_HS-SL-SG-02.vel', sep ='\s+')
dfv10 = vel10.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv10.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv10 ['Date'] = pd.to_datetime(dfv10.loc[:, 'Year':'Second'])
dfv10 = dfv10[(dfv10.Date>='2018-05-23 11:43:00') & (dfv10.Date<='2018-05-23 12:08:15')]
dfv10

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
5185,2018,5,23,11,51,18,12.3,15.3,13.6,13.2,11.1,7.5,4.1,4.8,4.1,5.3,2018-05-23 11:51:18
5186,2018,5,23,12,1,17,12.7,15.6,15.9,15.5,12.9,9.2,5.8,4.3,4.6,5.0,2018-05-23 12:01:17

In [13]:
vel11 = pd.read_csv('2018_04_17_HS-SL-SG-02.vel', sep ='\s+')
dfv11 = vel11.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv11.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv11 ['Date'] = pd.to_datetime(dfv11.loc[:, 'Year':'Second'])
dfv11 = dfv11[(dfv11.Date>='2018-05-23 16:38:42') & (dfv11.Date<='2018-05-23 16:48:40')]
dfv11

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
5214,2018,5,23,16,41,17,3.4,5.0,7.2,7.5,9.9,5.3,3.2,3.6,-0.7,2.6,2018-05-23 16:41:17

In [15]:
vel12 = pd.read_csv('2018_04_17_HS-SL-SG-02.vel', sep ='\s+')
dfv12 = vel12.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv12.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv12 ['Date'] = pd.to_datetime(dfv12.loc[:, 'Year':'Second'])
dfv12 = dfv12[(dfv12.Date>='2018-06-06 12:34:12') & (dfv12.Date<='2018-06-06 12:46:43')]
dfv12

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
7206,2018,6,6,12,40,28,17.1,25.3,31.0,35.0,33.9,26.0,18.5,23.8,21.7,19.6,2018-06-06 12:40:28

In [16]:
vel13 = pd.read_csv('2019_06_06_HS-SL-SG-02.vel', sep ='\s+')
dfv13 = vel13.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv13.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv13 ['Date'] = pd.to_datetime(dfv13.loc[:, 'Year':'Second'])
dfv13 = dfv13[(dfv13.Date>='2019-06-12 14:38:45') & (dfv13.Date<='2019-06-12 14:57:43')]
dfv13

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
571,2019,6,12,14,50,30,9.1,11.6,11.9,11.2,12.7,11.5,11.5,12.2,10.1,9.6,2019-06-12 14:50:30

In [17]:
vel14 = pd.read_csv('2019_06_12_HS-SL-SG-02.vel', sep ='\s+')
dfv14 = vel14.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv14.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv14 ['Date'] = pd.to_datetime(dfv14.loc[:, 'Year':'Second'])
dfv14 = dfv14[(dfv14.Date>='2019-06-26 11:17:52') & (dfv14.Date<='2019-06-26 11:35:43')]
dfv14

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
1328,2019,6,26,11,30,22,53.9,69.9,81.5,80.2,79.5,79.7,78.5,74.3,71.5,67.3,2019-06-26 11:30:22

In [19]:
vel15 = pd.read_csv('2019_06_26_HS-SL-SG-02.vel', sep ='\s+')
dfv15 = vel15.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv15.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv15 ['Date'] = pd.to_datetime(dfv15.loc[:, 'Year':'Second'])
dfv15 = dfv15[(dfv15.Date>='2019-07-03 10:48:40') & (dfv15.Date<='2019-07-03 11:07:35')]
dfv15

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
665,2019,7,3,11,1,51,73.5,83.6,96.3,98.1,94.1,96.0,95.0,95.5,92.9,90.0,2019-07-03 11:01:51

In [20]:
vel16 = pd.read_csv('2019_07_03_HS-SL-SG-02.vel', sep ='\s+')
dfv16 = vel16.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv16.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv16 ['Date'] = pd.to_datetime(dfv16.loc[:, 'Year':'Second'])
dfv16 = dfv16[(dfv16.Date>='2019-07-09 10:56:04') & (dfv16.Date<='2019-07-09 11:07:31')]
dfv16

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
556,2019,7,9,10,58,20,45.9,58.5,70.2,69.1,66.6,65.8,66.2,66.7,64.3,62.9,2019-07-09 10:58:20

In [22]:
vel17 = pd.read_csv('2019_07_09_HS-SL-SG-02.vel', sep ='\s+')
dfv17 = vel17.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv17.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv17 ['Date'] = pd.to_datetime(dfv17.loc[:, 'Year':'Second'])
dfv17 = dfv17[(dfv17.Date>='2019-08-02 10:19:01') & (dfv17.Date<='2019-08-02 10:32:15')]
dfv17

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
2290,2019,8,2,10,31,30,54.0,63.7,80.6,84.9,82.1,78.7,78.6,79.1,78.2,75.7,2019-08-02 10:31:30

In [24]:
vel18 = pd.read_csv('2019_08_02_HS-SL-SG-02.vel', sep ='\s+')
dfv18 = vel18.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv18.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv18 ['Date'] = pd.to_datetime(dfv18.loc[:, 'Year':'Second'])
dfv18 = dfv18[(dfv18.Date>='2019-09-03 11:17:38') & (dfv18.Date<='2019-09-03 12:15:17')]
dfv18

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
3061,2019,9,3,11,30,25,66.0,80.4,92.8,90.1,90.2,87.8,88.0,87.1,87.2,85.8,2019-09-03 11:30:25
3062,2019,9,3,11,45,25,62.7,80.7,91.4,90.9,86.6,86.5,86.7,85.5,87.2,83.2,2019-09-03 11:45:25
3063,2019,9,3,12,0,25,57.5,81.0,90.0,91.5,89.7,88.7,86.9,85.0,85.4,83.4,2019-09-03 12:00:25

In [27]:
vel19 = pd.read_csv('2019_09_03_HS-SL-SG-02.vel', sep ='\s+')
dfv19 = vel19.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv19.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv19 ['Date'] = pd.to_datetime(dfv19.loc[:, 'Year':'Second'])
dfv19 = dfv19[(dfv19.Date>='2019-09-10 11:34:50') & (dfv19.Date<='2019-09-10 11:48:06')]
dfv19

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
656,2019,9,10,11,45,53,56.0,72.4,80.8,78.9,79.4,80.6,80.0,77.9,76.4,75.0,2019-09-10 11:45:53

In [31]:
vel20 = pd.read_csv('2019_11_06_HS-SL-SG-02.vel', sep ='\s+')
dfv20 = vel20.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv20.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv20 ['Date'] = pd.to_datetime(dfv20.loc[:, 'Year':'Second'])
dfv20 = dfv20[(dfv20.Date>='2019-10-16 10:50:22') & (dfv20.Date<='2019-10-16 11:05:41')]
dfv20

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
3437,2019,10,16,11,2,4,70.7,84.1,89.8,90.7,86.3,88.5,88.5,87.1,87.3,84.0,2019-10-16 11:02:04

In [32]:
vel21 = pd.read_csv('2019_11_06_HS-SL-SG-02.vel', sep ='\s+')
dfv21 = vel21.loc[:,['Y', 'M', 'D', 'H', 'M.1', 'S', 'Cell01_Vx(cm/s)','Cell02_Vx(cm/s)',
                  'Cell03_Vx(cm/s)','Cell04_Vx(cm/s)','Cell05_Vx(cm/s)','Cell06_Vx(cm/s)','Cell07_Vx(cm/s)',
                'Cell08_Vx(cm/s)','Cell09_Vx(cm/s)','Cell10_Vx(cm/s)',]]
dfv21.rename(columns={'Y': 'Year', 'M': 'Month', 'D':'Day','H':'Hour', 'M.1': 'Minute', 'S': 'Second'}, inplace=True)
dfv21 ['Date'] = pd.to_datetime(dfv21.loc[:, 'Year':'Second'])
dfv21 = dfv21[(dfv21.Date>='2019-11-06 11:43:32') & (dfv21.Date<='2019-11-06 11:56:39')]
dfv21

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
5456,2019,11,6,11,47,4,60.7,85.1,103.8,106.4,101.5,99.2,98.3,100.3,97.0,95.9,2019-11-06 11:47:04

In [41]:
df_vel  = pd.concat([dfv1, dfv2, dfv3, dfv4, dfv5, dfv3, dfv6, dfv7, dfv8, dfv9, dfv10,
                    dfv11, dfv12, dfv13, dfv14, dfv15, dfv16, dfv17, dfv18, dfv19, dfv20,
                    dfv21], ignore_index = True)
df_vel

,Year,Month,Day,Hour,Minute,Second,Cell01_Vx(cm/s),Cell02_Vx(cm/s),Cell03_Vx(cm/s),Cell04_Vx(cm/s),Cell05_Vx(cm/s),Cell06_Vx(cm/s),Cell07_Vx(cm/s),Cell08_Vx(cm/s),Cell09_Vx(cm/s),Cell10_Vx(cm/s),Date
0,2018,3,13,18,20,24,-5.4,-5.2,-5.1,-5.9,-5.8,-2.7,7.8,-4.2,-2.9,-1.2,2018-03-13 18:20:24
1,2018,3,21,11,19,58,13.5,18.7,29.4,31.6,27.4,13.3,12.9,15.3,2.5,11.2,2018-03-21 11:19:58
2,2018,3,21,14,59,57,16.4,25.9,35.1,37.6,31.8,23.3,20.4,20.1,13.2,16.8,2018-03-21 14:59:57
3,2018,4,4,15,49,9,5.8,7.8,7.9,2.5,2.8,1.9,8.1,3.1,-0.1,0.7,2018-04-04 15:49:09
4,2018,4,11,11,38,45,-0.1,-4.0,-3.5,-2.0,-0.7,-0.5,2.1,2.2,-3.4,4.5,2018-04-11 11:38:45
5,2018,3,21,14,59,57,16.4,25.9,35.1,37.6,31.8,23.3,20.4,20.1,13.2,16.8,2018-03-21 14:59:57
6,2018,4,11,17,8,44,8.1,9.5,11.8,8.2,6.2,-1.7,5.1,2.5,3.2,3.9,2018-04-11 17:08:44
7,2018,4,17,11,8,24,-4.7,-8.2,-7.7,-6.9,-6.7,-4.2,-2.4,0.0,7.9,-3.9,2018-04-17 11:08:24
8,2018,4,17,11,18,23,-1.5,-5.4,-8.0,-8.0,-3.4,-4.2,-1.2,0.5,3.9,-1.7,2018-04-17 11:18:23
9,2018,5,8,12,2,10,-19.6,-25.3,-28.9,-31.3,-30.1,-17.4,-21.5,-23.5,-17.4,-17.0,2018-05-08 12:02:10
10,2018,5,8,12,12,11,-17.7,-25.2,-29.7,-29.4,-29.4,-13.4,-20.5,-20.3,-17.1,-22.1,2018-05-08 12:12:11
11,2018,5,8,12,22,10,-18.3,-23.2,-29.0,-30.0,-29.6,-17.7,-20.7,-21.8,-13.8,-22.1,2018-05-08 12:22:10
12,2018,5,8,16,22,10,-2.9,-6.5,-9.2,-7.9,-8.5,-1.2,-3.2,-4.9,2.2,2.1,2018-05-08 16:22:10
13,2018,5,8,16,32,9,1.4,-3.2,-4.5,-5.3,-4.5,-1.8,-5.0,-2.9,0.7,0.5,2018-05-08 16:32:09
14,2018,5,23,11,51,18,12.3,15.3,13.6,13.2,11.1,7.5,4.1,4.8,4.1,5.3,2018-05-23 11:51:18
15,2018,5,23,12,1,17,12.7,15.6,15.9,15.5,12.9,9.2,5.8,4.3,4.6,5.0,2018-05-23 12:01:17
16,2018,5,23,16,41,17,3.4,5.0,7.2,7.5,9.9,5.3,3.2,3.6,-0.7,2.6,2018-05-23 16:41:17
17,2018,6,6,12,40,28,17.1,25.3,31.0,35.0,33.9,26.0,18.5,23.8,21.7,19.6,2018-06-06 12:40:28
18,2019,6,12,14,50,30,9.1,11.6,11.9,11.2,12.7,11.5,11.5,12.2,10.1,9.6,2019-06-12 14:50:30
19,2019,6,26,11,30,22,53.9,69.9,81.5,80.2,79.5,79.7,78.5,74.3,71.5,67.3,2019-06-26 11:30:22
20,2019,7,3,11,1,51,73.5,83.6,96.3,98.1,94.1,96.0,95.0,95.5,92.9,90.0,2019-07-03 11:01:51
21,2019,7,9,10,58,20,45.9,58.5,70.2,69.1,66.6,65.8,66.2,66.7,64.3,62.9,2019-07-09 10:58:20
22,2019,8,2,10,31,30,54.0,63.7,80.6,84.9,82.1,78.7,78.6,79.1,78.2,75.7,2019-08-02 10:31:30
23,2019,9,3,11,30,25,66.0,80.4,92.8,90.1,90.2,87.8,88.0,87.1,87.2,85.8,2019-09-03 11:30:25
24,2019,9,3,11,45,25,62.7,80.7,91.4,90.9,86.6,86.5,86.7,85.5,87.2,83.2,2019-09-03 11:45:25
25,2019,9,3,12,0,25,57.5,81.0,90.0,91.5,89.7,88.7,86.9,85.0,85.4,83.4,2019-09-03 12:00:25
26,2019,9,10,11,45,53,56.0,72.4,80.8,78.9,79.4,80.6,80.0,77.9,76.4,75.0,2019-09-10 11:45:53
27,2019,10,16,11,2,4,70.7,84.1,89.8,90.7,86.3,88.5,88.5,87.1,87.3,84.0,2019-10-16 11:02:04
28,2019,11,6,11,47,4,60.7,85.1,103.8,106.4,101.5,99.2,98.3,100.3,97.0,95.9,2019-11-06 11:47:04